:root {
    --grape: #6C19AAff;
    --magnolia: #FDF6FFff;
    --tekhelet: #532592ff;
}

body {
    font-family: "Lunasima", sans-serif;
    /* fallback color  */
    background-color: var(--grape);
    background-image: url('/images/pinktech.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    font-family: 'Libre Barcode 39 Text', system-ui, sans-serif;
    font-weight: bold;
    font-size: 150%;
}

/* custom button coloring */
.custom-button {
    background-color: var(--tekhelet);
    color: var(--magnolia);
}

/* custom magnolia/light pink background  */
.custom-background {
    background-color: var(--magnolia);
} 
