:root {
    --royal-blue-traditional: #012B75ff;
    --yinmn-blue: #394976ff;
    --lemon-chiffon: #F6EFBCff;
    --ecru: #D1BF8Dff;
    --marian-blue: #194180ff;
    --bondi-blue: #4D8DA5ff;
}

body {
    font-family: "Lunasima", sans-serif;
    /* fallback color  */
    background-color: var(--royal-blue-traditional);
    background-image: url('/images/tech-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    font-family: 'Libre Barcode 39 Text', system-ui, sans-serif;
    font-weight: bold;
    font-size: 150%;
}

/* custom button coloring */
.custom-button {
    background-color: var(--yinmn-blue);
    color: var(--lemon-chiffon);
}

/* custom light blue background  */
.custom-background {
    background-color: var(--bondi-blue);
} 
